<%inherit file="base.html"/>
<%!
    import lazylibrarian
%>
<%def name="headerIncludes()">
    <div id="subhead_container">
        <ul id="subhead_menu">
            <li><a href="booksearch?bookid=${config['BookID']}&title=${config['BookName']}&author=${config['AuthorName']}" id="sbutton"> Author/Title Search </a></li>
            <li><a href="booksearch?bookid=${config['BookID']}&title=${config['BookName']}" id="tbutton"> Title Search </a></li>
            <li><a href="booksearch?bookid=${config['BookID']}&author=${config['AuthorName']}" id="abutton"> Author Search </a></li>
        </ul>
    </div>
</%def>
<%def name="body()">
<BR><br>
<h1>&nbsp;&nbsp;${title}</h1>
<br><br>
    <form accept-charset="UTF-8" action="book_update" method="post">
    <div class="table_wrapper">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <table class="configtable">
            <tr>
            <td>
            <div>
                <input type="text" name="bookid" value="${config['BookID']}" class="hidden">
            </div>
            <div class="row">
                <label>Change author to: </label>
                <select name="authorname">
                %for item in authors:
                    <option value="${item['AuthorName']}"
                    %if config['authorName'] == item['AuthorName']:
                        selected = "selected"
                    %endif
                    >${item['AuthorName']}</option>
                %endfor
                </select>
                <br><br>
            </div>

            <div class="row">
                <label>Book Title:</label>
                <input type="text" name="bookname" value="${config['BookName']}" class="form-control" placeholder="Book Title" size="36">
                <br><br>
            </div>
            <div class="row">
                <label>Subtitle:</label>
                <input type="text" name="booksub" value="${config['BookSub']}" class="form-control" placeholder="Subtitle" size="36">
                <br><br>
            </div>
            <div class="row">
                <label>Genre:</label>
                <input type="text" name="bookgenre" value="${config['BookGenre']}" class="form-control" placeholder="Genre" size="36">
                <br><br>
            </div>
            <div class="row">
                <label>Language:</label>
                <input type="text" name="booklang" value="${config['BookLang']}" class="form-control" placeholder="Language" size="36">
                <br>
            </div>
            %for item in seriesdict:
                <div>
                <br>
                <label>Book Series ${loop.index}</label>
                <input type="text" name="series[${loop.index}][name]" value="${item['SeriesName']}" class="form-control" size="36 " placeholder="Series Name">
                <input type="text" name="series[${loop.index}][number]" value="${item['SeriesNum']}" class="form-control" size="36" placeholder="Number">
                </div>
            %endfor
                <br>
                <label>New Series</label>
                <input type="text" name="series[new][name]" value="" class="form-control" size="36 " placeholder="Series Name">
                <input type="text" name="series[new][number]" value="" class="form-control" size="36" placeholder="Number">
            <br>
            <%
                if config['Manual'] == "1":
                    checked = 'checked="checked"'
                else:
                    checked = ''
            %>
<BR>
<input type="checkbox" id="manual" name="manual" value=1 ${checked} />
<label>  Lock settings</label>
</td>
</tr>
</table>
</div>
<div class="table_wrapper_button">
  <p><input type="submit" value="Save changes" id="add"></p>
</div>
</form>
</%def>
<%def name="javascriptIncludes()">
  <script>
    function initThisPage()
    {
    }
    
    $(document).ready(function() {
        initThisPage();
    });
  </script>
</%def>
